body{
    padding:0;
    margin:0;
    font-family: Monospace;
    background: black;
    color: greenyellow;
}
textarea.record-content{
    padding: 0.5em;
    border: none;
    display: inline-block;
    width: 100%;
    min-height: 10em;
    margin: 2px 0px 0px 2px;
    max-height: border-box;
    font-family: sans-serif;
    font-size: smaller;
    box-sizing: border-box;
}
.id-label{
    font-style: bold;
    font-size: small;
}
input.id-input{
    margin: 0px;
    margin-left: 4px;
    padding: 0px 2px 0px 2px;
    border: none;
    font-size: small;
    display: inline-block;
    box-sizing: border-box;
    height: 24px;
}
div.record-grp {
    width: 220px;
    margin: 0.5em;
    background: steelblue;
    color: white;
    border: 1px solid  whitesmoke;
    position: absolute;
    z-index:0;
}
div.record-header {
    padding: 4px;
    background: black;
    color: white;
}
div.saved-date-box {
    padding: 0px;
    margin: 0px 4px 0px 4px;
    font-size: smaller;
    text-align: right;
    color: white;
}
div#settings-box {
    position: sticky;
    z-index: 90;
}
div#main-control-box {
    margin: 0px;
    max-height: 32px;
    min-height: 32px;
    height: 32px;
}
div.record-control {
    margin: 0px;
    padding-top: 4px;
    padding-bottom: 0px;
    max-height: 48px;
}

button.control{
    background-color: white; /* Green */
    border: 1px solid black;
    margin: 0.1em;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 32px;
    height: 32px;
    max-width: content;
}
div#main-control-box{
    display: flex;
}
button.main-control{
    background-color: white; /* Green */
    border: 1px solid black;
    margin: 0;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    min-height: 32px;
    max-width: content;
    margin-right:4px;
}
button.control:hover,button.main-control:hover{
    outline: 1px solid black;
}
svg{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
img.icon{
    width: 16px;
    height: 16px;
}
p{
    margin: 0px;
    padding: 0px;
    text-align: inherit;
}
.ui-accordion-content{

    z-index: 90;
}
